.nftBox,
.nft-selected {
  max-height: 73.5vh;
  margin: 4.2vh 29px;
  overflow: scroll;
}

.nft {
  display: inline-block;
  border: 5px solid #7f8592;
  margin: 20px 23px;
}
.nft:hover {
}
.nft img {
  width: 10vw;
}
.nft h3 {
  line-height: 0px;
  font-family: superstar;
  color: #f9fcc6;
  font-weight: 100;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-thumb {
  background: #f9fcc6;
}

::-webkit-resizer {
  display: none;
}

/* Dropdown Button */
.menu-item {
  background-color: #2e333d;
  color: #fafcc6;
  padding: 9px 15px;
  font-size: 16px;
  border: none;
  font-family: superstar;
  font-weight: 100;
  border: 2px solid #fafcc6;
}
.menu-item:hover {
  background-color: #21242b;
  cursor: pointer;
}

.dropbtn {
  min-width: 130px;
}
.your-nft {
  position: absolute;
  top: 0;
  left: 100px;
  min-width: 60px;
}
.inactive {
  color: #666666;
  background-color: #2e323c;
  border-color: #686868;
}

.nft-menu {
  position: absolute;
  left: 16px;
  margin-top: -37px;
  display: inline-block;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  right: 16px;
  margin-top: -37px;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: superstar;
  font-weight: 100;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #21242b;
}
.top-section {
  display: flex;
}

.nft-image,
.nft-description {
  width: 50%;
  padding: 0 5%;
}

.nft-image img {
  width: 100%;
  margin: 10% 0;
}

h1 {
  font-family: superstar;
  color: white;
}

.nft-description h2 {
  color: white;
  margin: 0;
}
.nft-description p {
  color: #f9fcc6;
  font-size: 1.5em;
}

.sell-btn {
  color: #f9fcc6;
  font-family: superstar;
  background: url("../images/Large-button.png") no-repeat;
  background-size: contain;
  width: 33vh;
  height: 5vh;
  border: none;
  font-size: 3vh;
  padding: 5px 2vh 0;
}
.sell-btn:hover {
  cursor: pointer;
  transform: translate(0px, 1px);
}

.NFTprice{
  color: white !important;
  font-size: 1.2em;
}
.buyBox{

  opacity: 0;
  color: white;
  background-color: red;
  z-index: 9999;
  display: block;
}

.nft-button, .nft button:hover{
  cursor: pointer;
  transform: translate(0px, 1px);
}
.sellNFT input{
  font-family: superstar;
  color: white;
  background: url("../images/Large-button.png") no-repeat;
  background-size: cover;
  border: none;
  font-size: 1rem;
  padding-left: 8px;
  padding-top: 2.5px;
}

.nft-button, .nft button{
  font-family: superstar;
  color: white;
  background: url("../images/ButtonBG.png") no-repeat;
  background-size: contain;
  border: none;
  font-size: 1.3rem;
  min-width: 111px;
  margin: 7px 0px;
  padding: 0 25px;
}

.nft button[disabled] {
  opacity: 0.5;
}

.nftBuyBox button{
  font-size: 1.2rem; 
}
::-webkit-scrollbar-corner { background: rgba(0,0,0,0); }

.nft-selected{
  margin-top: 0px;
}

.nftStaking .nftBuyBox{
  display: inline-table;
  min-height: 410px;
}

.loading {
  font-family: superstar;
  color: white;
}

.rarityOverview{
  display: flex;
  font-family: superstar;
  color: white;
  font-size: 30px;
  margin-top: 80px;
}
.nftRarity{
  margin: auto;
}

.rarityOverview th{
  border-bottom: 1px solid;
}

.rarityOverview table{
  border-spacing: 0;
}

.nftStaking button{
  display: block;
  margin: 10px auto;
}

.yourRmoon{
  margin: auto;
  font-family: superstar;
  color: white;
  font-size: 20px;
  padding-top: 20px;
  text-align: left;
}

.yourRmoon td{
  padding-right: 25px;
}